.Header {
  margin-bottom: 3rem;
}

.logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
}

.mode {
  cursor: pointer;
}
.mode h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 0.3rem;
  font-size: 1rem;
}
.mode img {
  width: 1rem;
  height: auto;
}
